@import "../../config.scss";

.addCollection__plusIcon_little {
  display: none;
}

.collectionsComponent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.collectionsList {
  width: 625px;
  margin-top: 35px;
  max-height: 676px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #a7c3fe;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $Main_Blue;
    border-radius: 100px;
  }
}
.addCollection_long {
  margin-top: 35px;
}
.addCollection {
  margin-left: 25px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  overflow: hidden;
}

.addCollection__plusIcon_large {
  position: absolute;
  z-index: 1;
}

.addCollection__circle_outserquare {
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addCollection__circle {
  cursor: pointer;
  &::after {
    content: "Add new collection";
    padding-left: 10px;
    position: relative;
    left: -100px;
    transition: left 0.5s ease-in-out;
    z-index: -1;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $Text_Black;
    white-space: nowrap;
  }
  .addCollection__plusIcon_large {
    transition: transform 0.5s ease-in-out;
  }
  &:hover {
    .addCollection__plusIcon_large {
      transform: rotate(180deg);
    }

    &::after {
      left: 120px;
    }
  }

  width: 50px;
  height: 50px;
  border-radius: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Main_Blue;
}

@media screen and (max-width: 1200px) {
  .addCollection__circle_outserquare {
    margin-right: 15px;
  }

  .collectionsList {
    width: 605px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .collectionsContainer {
    margin-left: 0;
  }
  .collectionsComponent {
    display: flex;
    flex-direction: column;
    align-self: start;
    // justify-content: center;
  }

  .addCollection {
    margin-left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .addCollection__circle {
    &::after {
      content: "";
    }
    &:hover {
      .addCollection__plusIcon_large {
        transform: none;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .addCollection__circle_outserquare {
    margin: 0;
    margin-right: 5px;
    height: 35px;
    width: 35px;
  }

  .collectionsList {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .addCollection {
    margin-left: 0;
    height: 35px;
    margin-top: 25px;
    overflow: visible;
  }
  .addCollection__plusIcon_large {
    display: none;
  }

  .addCollection__plusIcon_little {
    display: block;
    position: absolute;
  }

  .collectionsContainer {
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
  .addCollection__circle {
    width: 35px;
    height: 35px;

    &::before {
      right: 90px;
      font-size: 14px;
    }
  }
}
