@import "../../config.scss";

.addCollection__plusIcon_little {
  display: none;
}

.collectionsContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.collectionsContainer {
  padding-top: 25px;
  padding-bottom: 25px;
  overflow-y: auto;
  height: 100%;
  max-height: 676px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #a7c3fe;
    border-radius: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $Main_Blue;
    border-radius: 100px;
  }
}

.collectionsContainer__list {
  height: 100%;
  padding-bottom: 25px;
  max-height: 676px;
}

.addCollection {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  overflow: hidden;
}

.addCollection__plusIcon_large {
  position: absolute;
  z-index: 1;
}

.addCollection__circle_block {
  background-color: #fff;
}

.addCollection__circle {
  cursor: pointer;
  &::after {
    content: "Add new collection";
    padding-left: 10px;
    position: relative;
    left: -100px;
    transition: left 0.5s ease-in-out;
    z-index: -1;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $Text_Black;
    white-space: nowrap;
  }
  .addCollection__plusIcon_large {
    transition: transform 0.5s ease-in-out;
  }
  &:hover {
    .addCollection__plusIcon_large {
      transform: rotate(180deg);
    }

    &::after {
      left: 120px;
    }
  }

  width: 50px;
  height: 50px;
  border-radius: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Main_Blue;
}

@media screen and (max-width: 1200px) {
  .addCollection {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .collectionsContent {
    align-items: flex-end;
  }
  .collectionsContainer {
    display: flex;
    justify-content: center;
    width: 630px;
  }

  .addCollection__circle {
    &::after {
      content: "";
    }
    &:hover {
      .addCollection__plusIcon_large {
        transform: none;
      }
    }
  }

  .collectionsContainer__list {
    width: 580px;
  }
}

@media screen and (max-width: 700px) {
  .addCollection {
    height: 35px;
    margin-top: 25px;
    overflow: visible;
  }
  .addCollection__plusIcon_large {
    display: none;
  }

  .addCollection__plusIcon_little {
    display: block;
    position: absolute;
  }

  .collectionsContainer__list {
    align-items: flex-start;
  }
  .collectionsContent {
    width: 290px;
    height: 405px;
  }
  .collectionsContainer {
    width: 290px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
  .addCollection__circle {
    width: 35px;
    height: 35px;

    &::before {
      right: 90px;
      font-size: 14px;
    }
  }
}
