@import "../../config.scss";

.goBackButton {
  cursor: pointer;
  margin-top: 19px;
  width: fit-content;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .goBackButton__text {
    margin-left: 10px;
    font-size: 18px;
    color: $input_Silver;
    line-height: 22px;
  }

  &:hover {
    .goBackButton__icon path {
      fill: $Main_Blue;
    }

    .goBackButton__text {
      color: $Main_Blue;
    }
  }
}
