@import "../../config.scss";

.collectionsContainer{
  padding-top: 25px;
  padding-bottom: 25px;
  overflow-y:auto;
  height: 100%;
&::-webkit-scrollbar {
  width: 5px;
}

&::-webkit-scrollbar-track {
  background-color: #A7C3FE;
  border-radius: 100px;
  margin-top: 25px; 
  margin-bottom: 25px; 
}

&::-webkit-scrollbar-thumb {
  background-color: $Main_Blue;
  border-radius: 100px;
}

}

.collectionsList{
  height: 100%;
  padding-bottom: 25px;
  max-height:676px ;

}
