@import "../../../config.scss";

.collectionMenu {
  margin-top: 20px;
  overflow: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #A7C3FE;
    border-radius: 100px;
  }
}
