$Error_red: #ff0000;
$Text_Black: #283139;
$Main_Blue: #246afd;
$Icon_silver: #acacac;
$Placeholder_silver: #c0c0c0;
$input_Silver: #d5d5d5;
$Main_Blue--focus: #0052ff;
$Main_Blue--click: #0038ff;
$inputText_silver: #8e8e8e;
$icon_Silver--hover: #a1a1a1;
$icon_Silver--click: #7d7d7d;
