.item {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;

  .item__iconContainer {
    opacity: 1;
    width: 25px;
    height: 25px;
    height: 25px;
    margin: 0 15px 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    .item__icon path {
      fill: #ACACAC;
    }

    //Это для иконки collections
    .item__icon line,
    .item__icon rect {
      stroke: #ACACAC;
    }
  }

  .item__title {
    color: #ACACAC;
    font-size: 18px;
    font-weight: 600;
  }

  &:hover {
    background-color: #2469fd25;

    .item__iconContainer .item__icon path {
      fill: #246AFD;
      opacity: 0.7;
    }

    .item__iconContainer .item__icon_clllections path {
      stroke: #246AFD;
    }

    .item__icon line,
    .item__icon rect {
      stroke: #246AFD;
      opacity: 0.7;
    }

    .item__title {
      color: #246AFD;
      opacity: 0.7;
    }
  }
}

.item_active {
  background-color: #bdd2fe;

  .item__iconContainer .item__icon path {
    fill: #246AFD;
  }

  .item__icon line,
  .item__icon rect {
    stroke: #246AFD;
  }

  .item__title {
    color: #246AFD;
  }

  //обнуление ховера для акстивного элемента
  &:hover {
    background-color: #bdd2fe;

    .item__iconContainer .item__icon path {
      fill: #246AFD;
      opacity: 1;
    }

    .item__icon line,
    .item__icon rect {
      stroke: #246AFD;
      opacity: 1;
    }

    .item__title {
      color: #246AFD;
      opacity: 1;
    }
  }
}
