@import "../../config.scss";

.aboutCollectiion {
  display: flex;
  flex-direction: column;
  padding-top: 50px;

  .aboutCollectiion_input {
    border: none;
    background-color: #ffffff;
    outline: none;
    color: $Text_Black;
    width: 100%;

    &::-moz-placeholder {
      color: $input_Silver;
    }

    &::-webkit-input-placeholder {
      color: $input_Silver;
    }
  }

  .aboutCollectiion_titleInput {
    font-weight: bold;
    font-size: 62px;
    margin-bottom: 15px;
  }

  .aboutCollectiion_descriptionInput {
    font-size: 20px;
  }
}
