@import "../../config.scss";

.formNewWord {
  margin-top: 40px;
  display: flex;
  gap: 1.5vw;

  .formNewWord__input {
    height: 40px;
    max-width: 210px;
    width: 100%;
    border: 1px solid $Icon_silver;
    border-radius: 4px;
    padding: 10px;
    line-height: 20px;
    font-size: 16px;

    &::-moz-placeholder {
      color: $Placeholder_silver;
      font-size: 16px;
    }

    &::-webkit-input-placeholder {
      color: $Placeholder_silver;
      font-size: 16px;
    }

    &:focus {
      outline: none;
      border: 1px solid $Main_Blue--focus;
    }
  }
}
